@font-face {
    font-family: 'GT America Black';
    src: url('./fonts/GT-America-LG-Expanded-Black.woff2') format('woff2'),
    url('./fonts/GT-America-LG-Expanded-Black.woff2') format('woff');
    font-style: normal;
    font-display: swap;
}
header {
    position: fixed;
    top:0;
    left:0;
    padding: 10px 20px;
}
header > h1 {
    font-size: 40px;
    margin:0 auto;
}
body, html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: "GT America Black";
}
main {
    margin-top: 100px;
    display: flex;
    padding: 10px 20px;
}
nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 100%;
    top: 100px;
    width: 265px;
}
nav > a {
    padding: 5px 0;
    color: black;
    text-decoration: none;
}
nav > a.active {
    color: blue;
}
article {
    padding: 0 40px;
    height: 400px;
    overflow-x: auto;
    flex: 1;
    color: black;
}
section > h3 {
    font-size: 50px;
    margin:0 auto;
}
section > p {
    font-size: 33px;
    padding-bottom: 40px;
}